<h2>Crear cuenta</h2>
<form role="form">
	<div class="form-group">

		<input 
			type="text" 
			class="form-control" 
			id="nombre" 
			placeholder="nombre" 
			ng-model="nombre" /></br>
		<input 
			type="text" 
			class="form-control" 
			id="apellido" 
			placeholder="apellido" 
			ng-model="apellido" /></br>
		<input 
			type="text" 
		    class="form-control" 
			id="email" 
		    placeholder="email" 
			ng-model="email" /></br>
		
		<input 
	    	type="text" 
			class="form-control" 
			id="clave" 
			placeholder="clave" 
			ng-model="clave" /></br>
		
	</div>
					
	<button 
		type="button" 
		class="btn btn-primary" 
		ng-click="crearcuenta()">crear cuenta</button>
					    	
	</form>