<section class="wrapper site-min-height" ng-controller="FilterController as ctrl">

    <h3><i class="fa fa-angle-right"></i> Ver Proyectos</h3>

    <div class="row mt">

        <div class="col-lg-12">

            <div class="form-panel">

                <h4 class="mb"><i class="fa fa-angle-right"></i> Filtrar Proyectos</h4>

                <form class="form-inline" role="form">

                    <div class="form-group" >
                        <label class="sr-only" for="nombreProyecto">Email address</label>
                        <input type="text" class="form-control" placeholder="Palabra clave" ng-model="search.$">
                    </div>

                    <div class="form-group" >
                        <label class="sr-only" for="nombreProyecto">Email address</label>
                        <input type="text" class="form-control" id="nombreProyecto" placeholder="Nombre del proyecto" ng-model="search.name">
                    </div>

                    <div class="form-group">
                        <label class="sr-only" for="exampleInputPassword2">Password</label>
                        <select class="form-control" ng-model="search.active">
                            <option value="" selected="selected">Todo</option>
                            <option value="true">Proyectos Abiertos</option>
                            <option value="false">Proyectos Cerrados</option>
                        </select>
                    </div>
                    
                </form>
                
            </div><!-- /form-panel -->

        </div><!-- /col-lg-12 -->

    </div><!-- /row -->

    <div class="row">

        <div class="col-lg-4 col-md-4 col-sm-4 mb" ng-repeat="kaka in ctrl.array | filter:search">

            <div class="content-panel pn">
                <div id="profile-01">
                    <h3>{{ kaka.name }}</h3>
                    <h6>WEB DESIGNER</h6>
                </div>
                <div class="profile-01 centered">
                    <p><a href="/proyecto-single" title="">ver datos del proyecto</a></p>
                </div>
                <!--div class="centered">
                    <h6><i class="fa fa-envelope"></i><br/>SHARON@DASHGUMTHEME.COM</h6>
                </div-->
            </div><!--/content-panel -->

        </div><!--/col-md-4 -->

    </div><!-- row -->

</section><!--/wrapper -->