<form class="form-horizontal">
    <fieldset>
     
    <!-- Form Name -->
    <legend>Registro</legend>
    
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="usuario">Nombre usuario</label>  
      <div class="col-md-4">
      <input id="usuario" name="usuario" type="text" placeholder="Nombre de usuario" class="form-control input-md" required="">
        
      </div>
    </div>
    
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="usuario">Email</label>  
      <div class="col-md-4">
      <input id="usuario" name="usuario" type="email" placeholder="Email" class="form-control input-md" required="">
        
      </div>
    </div>
    
    <!-- Password input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="password">Contraseña</label>
      <div class="col-md-4">
        <input id="password" name="password" type="password" placeholder="Contraseña" class="form-control input-md" required="">
        
      </div>
    </div>
    
    <!-- Password input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="password">Repite la contraseña</label>
      <div class="col-md-4">
        <input id="password-repeat" name="password-repeat" type="password" placeholder="Contraseña" class="form-control input-md" required="">
        
      </div>
    </div>
    
    <!-- Prepended checkbox -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="recordar">Recordar usuario</label>
      <div class="col-md-4">

            <input type="checkbox">
            
        </div>
        
      </div>
    </div>
    
    <!-- Button -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="submit"></label>
      <div class="col-md-4">
        <button id="submit" name="submit" class="btn btn-primary">Entrar</button>
      </div>
    </div>
    
    </fieldset>
</form>
