<!-- **********************************************************************************************************************************************************
MAIN SIDEBAR MENU
*********************************************************************************************************************************************************** -->
<!--sidebar start-->
<aside>
    <div id="sidebar"  class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
            
            <p class="centered"><a href="/"><img src="assets/img/ui-sam.jpg" class="img-circle" width="60"></a></p>
            <h5 class="centered">Marcel Newman</h5>
            
            <li class="mt">
                <a href="/proyectos">
                    <i class="fa fa-dashboard"></i>
                    <span>Proyectos</span>
                </a>
            </li>

            <li class="sub-menu">
                <a href="/clientes" >
                    <i class="fa fa-users"></i>
                    <span>Clientes</span>
                </a>
            </li>

        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>
<!--sidebar end-->