<div class="container">
    <div class="row">
        <h4 class="labeling">My name is:</h4>
        <h1 class="name">{{ name }}</h1>
        <h4 class="labeling">And I'm a proud student of the <b ng-class="angulator" 
                                                               ng-mouseover="angulator = 'CoolAngular'" 
                                                               ng-mouseleave="angulator = 'SweetAngular'" 
                                                               ng-init="angulator = ''" 
                                                               ng-animate>AngularJS</b> course at Fictizia</h4>
        
    </div>
</div>