<!-- FORMULARIO -->
<form>
    <input type="text" class="form-control" placeholder="Título del artículo..." ng-model="title">

    <button 
					    	type="button" 
					    	class="btn btn-primary" 
					    	ng-click="addTitle()">Add Title</button>
	<input type="textarea" class="form-control" placeholder="Cuerpo del artículo..." ng-model="body">

    <button 
					    	type="button" 
					    	class="btn btn-primary" 
					    	ng-click="addBody()">Add Body</button>
</form>
    <h1>{{ title }}</h1>
    <p>{{ body }}</p>