<div ng-controller="HomeCtrl">
    <h1>Hello {{ myName }}!</h1>
    <span>{{ date }}</span>
</div>
<div class="list">
    <ul>
        <li ng-repeat="car in cars">
            <a href="./detail/{{ car.color }}">{{ car.model }}</a>
        </li>
    </ul>
</div>

<div ng-controller="DBCtrl">
    <form ng-submit="addData(user)">
        <input type="text" name="user.name" ng-model="user.name" placeholder="nombre" />
            <input type="text" name="user.lastname" ng-model="user.lastname" placeholder="apellido" />
        <input type="submit" value="Submit"/>
    </form>
    <a href="javascript:void(0)" ng-click="pagedQuery(5)">ver 5 resultados</a>
    <ul>
        <li ng-repeat="user in datas">{{ user.name}} {{ user.lastname }}
            <a href="javascript:void(0)" ng-click="editData(user)">Editar</a>
            <a href="javascript:void(0)" ng-click="dltData(user)">Borrar</a>
        </li>
    </ul>
</div>
<my-directive datas="myDatas"></my-directive>