<!DOCTYPE html>
<html lang="es" ng-app="kplAngularCero">
    <head>
        <meta charset="utf-8">
        <title>Kaplan Angular Cero</title>
        <link rel="stylesheet" href="css/style.css" type="text/css" />
        <base href="/">
    </head>
    
    <body ng-controller="midirectivaController">
        <header>
            <nav>
                <ul>
                    <li><a href="./">Home</a> | </li>
                    <li><a href="./chat">Chat</a> | </li>
                    <li><a href="./productos">Productos</a></li>
                </ul>
            </nav>
        </header>
        
        <!--a href="./menu">Menu View</a><br-->
        <!--a href="./form">Form View</a><br-->
        <div ng-view></div>
        <br><br>
        <kpl-midirectiva misdatos="datosAndres"></kpl-midirectiva>
        <div ng-controller="miformularioController">
            <form novalidate name="miformulario">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" ng-model="user.name" required/><br /><br />
                
                <label for="apellidos">Apellidos:</label>
                <input type="text" id="apellidos" name="apellidos" ng-model="user.surname" required/><br /><br />
                
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" ng-model="user.email" required/><br /><br />
                
                <label for="apellidos">Sexo:</label><br /><br />
                <input type="radio" ng-model="user.gender" value="male" name="genero" required/>Soy hombre. Sí, por favor.<br />
                <input type="radio" ng-model="user.gender" value="female" name="genero" required/>Soy mujer. Sólo con Brad Pitt.<br /><br />
                
                <label for="edad">Edad:</label>
                <input type="number" id="edad" ng-model="user.age" name="edad" required/><br /><br />
                
                <input type="button" ng-click="reset()" value="Reset" />
                <input type="submit" ng-click="update(user)" value="Save" /><br /><br />
                
                <div ng-show="miformulario.$submitted">Formulario enviado.</div>
                <div ng-show="miformulario.nombre.$error.required && miformulario.nombre.$touched" class="error">Rellene el campo Nombre.</div>
                <div ng-show="miformulario.apellidos.$error.required && miformulario.apellidos.$touched" class="error">Rellene el campo Apellidos.</div>
                <div ng-show="miformulario.email.$error.required && miformulario.email.$touched" class="error">Rellene el campo email.</div>
                <div ng-show="miformulario.email.$error.email && miformulario.email.$touched" class="error">El campo de email no es correcto.</div>
                <div ng-show="miformulario.genero.$error.required && miformulario.genero.$touched" class="error">Escoja su sexo.</div>
                <div ng-show="miformulario.edad.$error.number && miformulario.edad.$touched" class="error">El campo de edad tiene que ser un número.</div>
                <div ng-show="miformulario.edad.$error.number && miformulario.edad.$touched" class="error">El campo de edad tiene que ser un número.</div>
            </form>
        </div>
        
        <div ng-controller="DBController">
            <form ng-controller="alumnosCtrl" ng-submit="newAlumn(alumno)">
                <input type="text" ng-model="alumno.nombre" placeholder="nombre" />
                <input type="text" ng-model="alumno.apellido" placeholder="apellido" />
                <input type="submit" value="Submit" />
            </form>
            <ul>
                <li ng-repeat="esteAlumno in alumnos">{{esteAlumno.nombre}} {{esteAlumno.apellido}}</li>
            </ul>
        </div>
        
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.min.js"></script>
        <script src="https://cdn.firebase.com/js/client/2.2.6/firebase.js"></script>
        <script src="https://cdn.firebase.com/libs/angularfire/1.1.1/angularfire.min.js"></script>
        <script type="text/javascript" src="filtros.js"></script>
        <script type="text/javascript" src="db.js"></script>
        <script type="text/javascript" src="formularios.js"></script>
        <script type="text/javascript" src="directivas/directivas.js"></script>
        <script type="text/javascript" src="home/home.js"></script>
        <script type="text/javascript" src="chat/chat.js"></script>
        <script type="text/javascript" src="productos/productos.js"></script>
        <script type="text/javascript" src="producto/producto.js"></script>
        
        
        <script type="text/javascript" src="app.js"></script>
    </body>
</html>